#webkew-references-bibliography {
    margin-top: 2em;
    border-top: 1px solid #ddd;
    padding-top: 1em;
}

#webkew-references-bibliography h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
}

#webkew-references-bibliography ul {
    list-style-type: none;
    padding-left: 0;
}

#webkew-references-bibliography li {
    margin-bottom: 1em;
    padding-left: 2em;
    text-indent: -2em;
}
.webkew_highlight {
    background-color: #7bc4ff;
}

.csl-entry {
    margin-bottom: 0.3em;
    font-size: 0.9em;
    padding: 0.3em;
}